<!--管理者：商品一覧-->
<div class="container">
  <div class="m-4">
    <h4 class="d-inline border border-secondary px-3">投稿一覧</h4>
  
  <div class="col-10 ml-5">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="col-2"><strong>投稿ID</strong></th>
          <th class="col-3"><strong>投稿ユーザー</strong></th>
          <th class="col-5"><strong>内容</strong></th>
          <th class="col-3"><strong>日時</strong></th>
        </tr>
      </thead>
  
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.user.name %></td>
          <td>
            <ins>
              <% if post.release == true %>
              <%= link_to admin_post_path(post), class: "border_bottom text-dark" do %>
                <%= post.posted_text %>
              <% end %>
            <% end %>
            </ins>
          </td>
          <td><%= post.created_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>