<h1>Public::Users#showマイページ</h1>

<h1>登録情報</h1>

<p>名前<%= @user.name %></p>
<p>生年月日<%= @user.birthday %></p>
<p>メールアドレス<%= @user.email %></p>

<% if @user.id = current_user.id %>
  <p><%= link_to '編集する', information_edit_users_path(@user), class: "btn btn-outline-dark" %></p>
<% end %>

<% if current_user.following?(@user) %>
  <%= link_to "フォロー外す", users_relationships_path(@user.id), method: :delete %>
<% else %>
  <%= link_to "フォローする", users_relationships_path(@user.id), method: :post %>
<% end %>

<!--受信歴登録-->
<p>受診歴</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  新規登録
</button>
<div class="commuting_to_hospital">
  <%= render 'public/commuting_to_hospitals/commuting_to_hospitals', commuting_to_hospitals: @commuting_to_hospitals %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @commuting_to_hospital, url: commuting_to_hospitals_path, local: false do |f| %>
        <div class="modal-body">
          <%= f.label :hospital_name, '病院名' %>
          <%= f.text_field :hospital_name, class: "form-control" %>
          
          <%= f.label :day_of_a_hospital_visit, '通院日' %>
          <%= f.date_field :day_of_a_hospital_visit, class: "form-control" %>
          
          <%= f.label :objective, '通院目的・メモ' %>
          <%= f.text_area :objective, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '登録', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--服薬歴-->
<p>服薬歴</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#medicineModal">
  新規登録
</button>
<div class="medication_history">
  <%= render 'public/medication_histories/medication_histories', medication_histories: @medication_histories %>
</div>

<div class="modal fade" id="medicineModal" tabindex="-1" role="dialog" aria-labelledby="medicineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medicineModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @medication_history, url: medication_histories_path, local: false do |f| %>
        <div class="modal-body">
          <%= f.label :medicine, '服薬名' %>
          <%= f.text_field :medicine, class: "form-control" %>
          
          <%= f.label :objective, '服薬目的' %>
          <%= f.text_area :objective, class: "form-control" %>
          
          <%= f.label :start_date, '服薬開始日' %>
          <%= f.date_field :start_date, class: "form-control" %>
          
          <%= f.label :end_date, '服薬終了日' %>
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '登録', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--既往歴-->
<p>既往歴</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#healthModal">
  新規登録
</button>
<div class="health_history">
  <%= render 'public/health_histories/health_histories', health_histories: @health_histories %>
</div>

<div class="modal fade" id="healthModal" tabindex="-1" role="dialog" aria-labelledby="healthModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="healthModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @health_history, url: health_histories_path, local: false do |f| %>
        <div class="modal-body">
          <%= f.label :disease_name, '病名' %>
          <%= f.text_field :disease_name, class: "form-control" %>
          
          <%= f.label :diagnostic_day, '診断日' %>
          <%= f.date_field :diagnostic_day, class: "form-control" %>
          
          <%= f.label :medical_treatment, '治療内容' %>
          <%= f.text_area :medical_treatment, class: "form-control" %>
          
          <%= f.label :health_comment, 'コメント' %>
          <%= f.text_area :health_comment, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '登録', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--ワクチン接種歴-->
<p>ワクチン接種歴</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vaccinationModal">
  新規登録
</button>
<div class="vaccination_history">
  <%= render 'public/vaccination_histories/vaccination_histories', vaccination_histories: @vaccination_histories %>
</div>

<div class="modal fade" id="vaccinationModal" tabindex="-1" role="dialog" aria-labelledby="vaccinationModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="vaccinationModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @vaccination_history, url: vaccination_histories_path, local: false do |f| %>
        <div class="modal-body">
          <%= f.label :inoculation_date, '接種日' %>
          <%= f.date_field :inoculation_date, class: "form-control" %>
          
          <%= f.label :amount, '接種回数' %>
          <%= f.number_field :amount, class: "form-control" %>
          
          <%= f.label :vaccination, 'ワクチン名' %>
          <%= f.text_field :vaccination, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '登録', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--出産歴-->
<p>出産歴</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#birthModal">
  登録
</button>
<div class="history_of_birth">
  <%= render 'public/history_of_births/history_of_births', history_of_births: @history_of_births %>
</div>

<div class="modal fade" id="birthModal" tabindex="-1" role="dialog" aria-labelledby="birthModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="birthModalLabel">新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @history_of_birth, url: history_of_births_path, local: false do |f| %>
        <div class="modal-body">
          <%= f.label :date_of_birth, '出産日' %>
          <%= f.datetime_field :date_of_birth, class: "form-control" %>
          
          <%= f.label :parity, '出産回数' %>
          <%= f.number_field :parity, class: "form-control" %>
          
          <%= f.label :method, '出産方法' %>
          <%= f.text_field :method, class: "form-control" %>
          
          <%= f.label :birth_record, '出産メモ' %>
          <%= f.text_area :birth_record, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '登録', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>