<!DOCTYPE html>
<html>
  <head>
    <title>Wellbeing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/96018690bc.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="container">
          <div>
            <ul>
              <%= render 'layouts/user_header' %>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
